*{
    margin:0;
    padding:0;
    background-color:#0E1A24; 
}

.connexion {
    flex-shrink: 1;
    width :46.5%;
}
 
.inscription {
    display: block;
 
    width: 46.5%;
}

.connexion-inscription {
    display: flex;
   padding : 0% 6%;
   justify-content: space-between;
}

.control-group{
    font-family: 'Assistant', sans-serif;
    text-decoration:none;
}