/**
 * Description of script style.css
 *
 * @author Martine Bornerie
 */

body {
	background-color: #0e1a24;
	color: red;
	/* padding-top: 60px;
	padding-bottom: 40px; */
}

h1{
	font-family: 'Amarante', sans-serif;
	font-size:48px;
	/* display:inline; */
	text-align: center;
	text-transform: uppercase;
	padding-top:50px;
	padding-bottom: 50px;
}

h1 .crud{
    color:#f1f2f2;
}



h2{
	font-family: 'Amarante', sans-serif;
	font-size:36px;
	text-align:center;
    
}
.lastArticles h2 {
    color:#f1f2f2;
    text-transform: uppercase;
}

.formulaire h2{
	background-color: #f1f2f2; 
    color:#263d57;
}

.top-page-index{
    /* background-image: url("/assets/images/topage.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 92px);
    overflow-x: hidden;
    justify-self: center;


    /* @media screen and (max-width: 700px){
        min-height: 50px;
    } */
}

.presentation{
    margin:82px;
    margin-right:365px;
    margin-left:365px;
    text-align: center;
}

.construction{
    /* min-height:100%; */
    min-width: 100%;
}

.top-page-index h1{
    margin-top:500px;
}

.menu-back ul li a{
	font-family: 'Assistant', sans-serif;
	font-size:18px;
	text-transform:uppercase;
	text-decoration:none;
	color:#0e1a24;
}

.menu-back ul li {
	padding-top:30px;
}

.menu-back {
	background-color:#f1f2f2;
	text-align: center;

	padding:30px;
}

.parentback{
	display:flex;
	justify-content: space-between;
	margin-right: 90px;
	margin-left:90px;
	margin-top: 30px;
	margin-bottom: 30px;
}

fieldset {
	background-color: #0e1a24;	/* color: oldlace */
	max-width: 600px;			/* largeur maximale cadre */
	padding: 16px;				/* marge interne / sépare le contenu de la bordure	*/
	/* Coins arrondis et couleur du cadre */
	/* border: 2px solid grey; */
	/* -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; */
	margin:30px;
}

fieldset .controle-group .control-label b{
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    font-weight:400;
}

.legend1 {
	color: #f1f2f2;			/* color: yellow; */
	margin-bottom: 0px;
	margin-left: 16px;
    font-family: 'Assistant', sans-serif;
    font-size: 26px;
    font-weight:600;
}

.hr1 {
	margin: 10px 0 10px;
	padding: 0;
	width: 120pt;
	height: 3px;
	color: #CCCCCC;			/* color: grey; */
	background: #FF8C00;	/* color: orange; */
	/* border-top: 2px dashed; */
}

h4{
    color:red;
}
thead{
    color:red;
}

.span1 {
	color: #CC9900;			/* color: yellow; */
}

label, button {
	font-weight: bold;
	font-style: italic;
}

.error {
	padding: 2px;
	/* border: solid 0px black; */
	color: red;
	font-style: italic;
	border-radius: 5px;
}

.span2 {
    max-width: 500px;
    width: 500px;
    max-height: 200px;
    height: 200px;
}
.conteneur{
    padding: 15px;
    /* border: 2px solid black; */
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: red;
    width: 90%
}

/* span {
	background-color: purple;
} */

input {
 /* border:1px solid black; */
 background-color:#f1f2f2;
 border-radius: 5px;

}

input[type=radio] {
 margin-right:50px;
 background-color:transparent;
 border:none;
}

input[type=submit] {
	/* margin-right:50px; */
	/* background-color:transparent; */
	border:none;
    color:#f1f2f2;
    font-family: 'Assistant', sans-serif;
    font-size: 26px;
    font-weight:600;
} 

select, option {
 background-color:#f1f2f2;
 border-radius: 5px;

 }

textarea {
 /* border:1px solid black; */
 background-color:#A6BEDE;
 }

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

/*
	Test de la partie responsive
*/

/*Si la taille de l'écran d'un visiteur est inférieure à 480px, la couleur
 *de fond de notre élément body (donc de notre page) sera orange */
@media screen and (max-width: 680px){
    body{
        background-color: #0e1a24;
    }
}

/*Pour les écrans ayant une taille entre 481px et 1179px, la couleur de
 *fond de notre page sera bleue */
@media screen and (min-width: 681px) and (max-width: 1279px){
    body{
        background-color: #0e1a24;
    }
}

/*Pour les écrans d'une taille supérieure à 1280px, le fond de la page sera
 *de couleur blanche */
@media screen and (min-width: 1280px){
    body{
        background-color: #0e1a24;
    }
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

*{
    margin:0;
    padding:0;
    /* background-color:#263d57; */
}

/* HEADER */
header .menu-desktop{
    font-family: 'Assistant', sans-serif;   
    font-weight: 600; 
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f2f2;
}

header .logo{
    height: 92px;
    width: 220px;
}

header .menu{
    padding-bottom: 10px; 
}

header nav a {
    font-family: 'Assistant', sans-serif;
    text-decoration: none;
    color: #263d57;
    text-transform: uppercase;
    font-size:23px;
    
}
 
header nav ul li{
    float: left;
    text-align: right;
    position: relative;
    margin: 0px 15px;
    font-size: 18px;
    @media screen  and (max-width: 700px){
        float: none;
        text-align: left;    
    }
    list-style-type: none;
}

header nav a:hover{
    border-bottom: 2px solid;
}
 
/* FOOTER */
.footer-desktop{
    background-color: #f1f2f2;
    padding:30px;
    padding-left:100px;
    padding-right:100px;

}
footer .menu-desktop{
    font-family: 'Assistant', sans-serif;   
    font-weight: 600; 
    display:inline;
    align-items: center;
    justify-content: space-between;
    /* padding-left:100px;
    padding-right:100px; */
}


footer nav a {
    font-family: 'Assistant', sans-serif;
    text-decoration: none;
    color: #263d57;
    text-transform: uppercase;
    font-size:23px;
}

footer .menu {
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;  
    padding-bottom: 20px; 
}

footer .nav-utilitaires a {
    font-family: 'Assistant', sans-serif;
    text-decoration: none;
    color: #263d57;
    text-transform: capitalize;
    font-size:18px;
    font-weight: 400; 
    text-decoration:underline;
}

footer .utilitaires {
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;   
}

/*El copié collé du menu deroulant*/

/* .top-menu{
    position: relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
} */

/* header nav ul{
    list-style-type: none;
} */



/* header nav ul::after{
    content: "";
    display: table;
    clear: both;
} */

/* header nav > ul > li > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
} */

/* .sub-nav li{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
} */

/* .sub-nav{
    display: none;
    background-color: black;
    position: absolute;
    width:fit-content;
    z-index: 1000;
    font-weight: normal;
} */



/* header nav > ul li:hover .sub-nav{
    display: block;
} */

/* .sub-nav li{
    float: none;
    width: 100%;
    text-align: left;
} */

/* .sub-nav a{
    padding: 10px;
    border-bottom: none;
} */

/* .sub-nav a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.scrolling-menu > a::after{
content:" ▼";
    font-size: 18px;
} */

/* .scrolling-menu li:hover{
    color: gold;
} */


/* header a :hover{ */
    /* text-decoration: none;
    color: #263d57;
    font-size:18px;
} */

/* Début scss mobile */

/* @media screen and (min-width: 701px) {
    .menu-mobile {
        display: none;
    }
} */


/* @media screen and (max-width: 700px) {
    .menu-desktop2 {
        display: none;
    }
 
    .menu-mobile {
        display: block;
    }
} */

/* .container{
font-family: 'Julius Sans One', sans-serif;
} */

/* .navbar-light .navbar-nav .nav-link {
    color: #FAFAFA
} */

/* .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active{
    color: #FAFAFA;
} */

/* .navbar-light .navbar-toggler-icon {
    background-image: url("/assets/images/menu_burger.svg");
    height:50px ;
    width:50px;
} */

/* .dropdown-menu{
    background-color: #1C1C1B;
    border: none;
    color: #FAFAFA;

} */

/* .dropdown-item{
    color: #FAFAFA;
} */

/* .btn-outline-success{
    background-image: url("/assets/images/index_icon-search.svg");
    background-repeat: no-repeat;
    border:none;
    background-position: center;
} */

/* .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: #D2BE88 ;
} */

/* .btn-outline-success:hover{
    background-color: #D2BE88;
    border: none;
} */